body {
    background: #fafafa;
}

.MenuBar {
    .Title {
        flex-grow: 1;
    }

    .PlayerSelect-input, .PlayerSelect-label, svg {
        color: white;
    }

    .PlayerSelect-label {
        margin-right: 5px;
    }

    .PlayerSelect-input {
        &:before, &:focus {
            border-bottom: 1px solid white;
        }

        &:after {
            border-bottom: 1px solid #fafafa;
        }

        &:hover:before {
            border-bottom: 2px solid white !important;
        }
    }

}

.PositionPaper-header{
    display: flex;
    justify-content: space-between;
}

.AppContainer {
    padding-top: 70px;
}

.PositionPaper {
    max-width: 70vh;
    margin: auto;
}